@page "/"

<h1>DotNetHouse</h1>

Welcome to our .NET project!

<h1>Team members:</h1>
<ul>
    <li>Damian Alexandru</li>
    <li>Loghin Alexandru-Stelian</li>
    <li>Macarof Radu</li>
    <li>Tutuianu Razvan Constantin</li>
</ul>
