/* .admin-dashboard {
    margin-left: 10px;
} */
body{
    font-family: sans-serif;
}




.admin-dashboard .dataForm form {
    /* border: 10px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* font-size: 15px; */
    /* border: 10px solid red; */
}

.admin-dashboard .dataForm form div,
.admin-dashboard .dataForm form div button {
    padding: 13px;
}

input{
    width: 8vw;
}

.post-button {
    /* width: 5vw; */
    height: 50px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: 0;
    /* border-radius: 15px; */
    outline: none;
    margin-top: 20px;
}

.post-button:hover {
    background-color: #3e8e41;
}

.post-button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.post-button:focus{
    outline: none !important;
}

/* .crawler-operations{
    border:10px solid blue;
} */

/* #added{
    border:10px solid black;
} */

table{
    margin: 0 auto;
}


th, td,tr {
    border: 3px solid black;
    font-size: larger;
}

td,tr{
    font-size: 15px;
}


tr th{
    padding: 5px;
}

tr button{
    display:block;
    width: 100%;
    /* border: 5px solid blue; */
}

td input{
    /* border: 3px solid blue; */
    display:block;
    width: 100%;
}



.crawler-operations {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-buttons {
    width: 100%;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid green;
}


.bottom-buttons {
    width: 100%;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid green;
}

.crawler button {
    background-color: #4CAF50;
    padding: 1em;
    width: 100%;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0px;
    cursor: pointer;
    color: black;
}

.crawler button:hover {
    background-color: #3e8e41;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    color: white;
}

.dataFormNEW {
    width: 100%;
    margin-left: 0;
}

