.html{
    width: 100%;
}

.dataForm form{
    text-align: center;
}

#links_show_list{
   list-style: none; 
}

.body_and_links {
    margin-top: 2em;
}

.body_page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.centered_content{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.form_image {
    height: 35em;
    width: 40%;
    background-image: url("../Images/house_background.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}


.dataForm {
    margin-left: 1.5em;
}

.form_input {
    width: 100%;
    border: 3px solid #ccc;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 10px;
    padding: 6px 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.form_input:focus {
    border: 3px solid #555;
}

.links {
    text-align: center;
    margin-top: 3em;
}

.form_image {
    display: flex;
    
}

#raspuns {
    text-align: center;
    color: white;
    font-size: 3em;
}

.image_text{
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
}

.prediction_buton {
    background-color: #4c3c3c;
    color: white;
    border-radius: 4px;
    border: none;
    text-align: center;
    padding: 13px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#links_show_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#links_show_list div {
    width: 20%;
    padding-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#links_show_list div div {
    width: 70%;
    height: 100%;
    padding: 1em;
    border: 0.5px solid black;
    text-align: center;
}

#links_show_list div div:hover {
    background-color: #EFC050;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}


#links_show_list div div a {
    text-decoration: none;
    color: #955251;
}



@media screen and (max-width: 1000px) {
    #links_show_list div div{
        width: 80%;
    }
  }



@media screen and (max-width: 875px) {
    .centered_content {
        flex-direction: column-reverse;
    }

    .form_image {
        width: 100%;
        margin-top: 2em;
    }

  }

  @media screen and (max-width: 817px) {
    #links_show_list div{
        width: 30%;
    }
  }

  @media screen and (max-width: 570px) {
    #links_show_list div{
        width: 70%;
    }
    #links_show_list div div {
        width: 80%;
        height: 100%;
        padding: 1em;
    
        text-align: center;
    }
  }


  @media screen and (max-width: 375px) {
    #links_show_list div{
        width: 90%;
    }
  }